.map {
  line-height: 2rem;
  position: relative;
  z-index: 50;
}

.row {
  display: flex;
}

.row div {
  height: 40px;
  width: 40px;
}

.base,
.water,
.cliff {
  background-size: cover;
  background-position: center;
}

.base {
  background-color: grey;
  background-image: url("../../assets/base1.jpg");
}

.land {
  background-color: rgb(241, 241, 132);
  background-image: url("../../assets/ground.jpg");
}

.water {
  background-color: rgb(116, 195, 241);
  background-image: url("../../assets/water.jpg");
}

.cliff {
  background-color: brown;
  background-image: url("../../assets/cliff.jpg");
}
