.controls {
  flex-grow: 1;
}

.btn {
  float: right;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  background-color: black;
  color: rgb(81, 255, 0);
  border: 1px solid rgb(81, 255, 0);
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(17, 16, 16);
}
