.App {
  background-color: rgb(31, 28, 44);
  color: rgb(81, 255, 0);
  min-height: 100vh;
}

h1 {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.container {
  width: 320px;
  margin: 0 auto;
}
